body {
    font-family: 'Oswald', sans-serif !important;
    font-size: 1.6em;
}

h1 {
    font-size: 4em;
}

p {
    text-align: justify;
}

#unityPlayer embed{
    margin: auto;
}

/* Text alignment */
.center-text {
    text-align: center;
}