body {
    color: #e7ddbe;
    background: #41272D;
    font-family: 'Oswald', sans-serif !important;
    font-size: 1.8em;
}

h1 {
    font-size: 4em;
}

p {
    text-align: justify;
}

#unityPlayer embed{
    box-shadow: 0 0 1em #55d992;
    margin: 2em auto auto auto;
}

.icon-img {
    text-align: center;
}

i {
    font-size: 48px !important;
    vertical-align: middle;
    padding-right: 0.5em;
}

/*TITLE SPANS*/
.title-green, a, a:visited {
    color: #55d992;
}

.title-pale-brown {
    color: #e7ddbe;
}

.title-red, a:hover {
    color: #f27e71;
}

.title-yellow, h2 {
    color: #d9ad55;
}
